<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FBluetoothSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>FissionBluetooth.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FissionBluetooth_internal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>592A9FDF25A4173A00CC515E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>592A9FFA25A4173C00CC515E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>592AA00525A4173C00CC515E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59AA4FE82AB42FA500D3125E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
